<img src="Walmart-Logo.png" width="50%" height="50%">

# Retail Analysis with Walmart Data

* * *
*One of the leading retail stores in the US, Walmart, would like to predict the sales and demand accurately. There are certain events and holidays which impact sales on each day. There are sales data available for 45 stores of Walmart. The business is facing a challenge due to unforeseen demands and runs out of stock some times, due to the inappropriate machine learning algorithm. An ideal ML algorithm will predict demand accurately and ingest factors like economic conditions including CPI, Unemployment Index, etc.*

*Walmart runs several promotional markdown events throughout the year. These markdowns precede prominent holidays, the four largest of all, which are the Super Bowl, Labour Day, Thanksgiving, and Christmas. The weeks including these holidays are weighted five times higher in the evaluation than non-holiday weeks. Part of the challenge presented by this competition is modeling the effects of markdowns on these holiday weeks in the absence of complete/ideal historical data. Historical sales data for 45 Walmart stores located in different regions are available.*

* * *

## Basic Statistics tasks

- Which store has maximum sales

- Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

- Which store/s has good quarterly growth rate in Q3’2012

- Some holidays have a negative impact on sales. Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

- Provide a monthly and semester view of sales in units and give insights

In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date

In [59]:
raw_data = pd.read_csv('Walmart_Store_sales.csv')

In [60]:
df_data = pd.DataFrame(raw_data)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

## 1. Finding the Max-weekly-sales store

In [61]:
store_sales = df_data[["Store","Weekly_Sales"]]

sales_column = store_sales["Weekly_Sales"]
max_sales = sales_column.max()
index_of_max = sales_column.idxmax()
print("Max sales store‘s index: "+ str(index_of_max))

Max sales store‘s index: 1905

In [62]:
#Max-weekly-sales with store number
store_sales.iloc[1905]
print("Store #" + str(store_max_sales) + " had the maximum weekly sales of: $" + str(max_sales))

Store #14 had the maximum weekly sales of: $3818686.45

## 2. Finding the maximum standard deviation store

In [63]:
df_data["Weekly_Sales"].describe()

count    6.435000e+03
mean     1.046965e+06
std      5.643666e+05
min      2.099862e+05
25%      5.533501e+05
50%      9.607460e+05
75%      1.420159e+06
max      3.818686e+06
Name: Weekly_Sales, dtype: float64

**1). STD and max STD**

In [64]:
group_store = [column for _, column in store_sales.groupby('Store')]
std_list = []
mean_list = []

#loop weekly sales with index
for i in range(45):
    g = pd.DataFrame(group_store[i])
    std = g["Weekly_Sales"].std()
    std_list.append(std)
    mean = g['Weekly_Sales'].mean()
    mean_list.append(mean)

no_of_store = std_list.index(max(std_list)) + 1
print("\nStore: #"+ str(no_of_store) + " has the maximum STD: {std:.2f}".format(std=max(std_list)))

Store: #14 has the maximum STD: 317569.95

**2). Coefficient of Mean to STD**

In [65]:
cov = max(std_list)/max(mean_list) * 100
print("CoV is : {cv:.2f}".format(cv=cov))

CoV is : 15.07

## 3. Quarterly growth rate in Q3’2012

In [66]:
df_data

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

In [67]:
raw_data['Date'] = pd.to_datetime(raw_data['Date'])

Q3_date_from = pd.Timestamp(date(2012,7,1))
Q3_date_to = pd.Timestamp(date(2012,9,30))
Q2_date_from = pd.Timestamp(date(2012,4,1))
Q2_date_to = pd.Timestamp(date(2012,6,30))

In [68]:
Q2_data = raw_data[(raw_data["Date"]> Q2_date_from) & (raw_data["Date"]< Q2_date_to)]
Q3_data = raw_data[(raw_data["Date"]> Q3_date_from) & (raw_data["Date"]< Q3_date_to)]

In [91]:
#Sum of Q2 weekly sales
Q2 = pd.DataFrame(Q2_data.groupby('Store')['Weekly_Sales'].sum())
Q2.reset_index(inplace=True)
Q2.rename(columns={'Weekly_Sales': 'Q2_Weekly_Sales'},inplace=True)

#Sum of Q3 weekly sales
Q3 = pd.DataFrame(Q3_data.groupby('Store')['Weekly_Sales'].sum())
Q3.reset_index(inplace=True)
Q3.rename(columns={'Weekly_Sales': 'Q3_Weekly_Sales'},inplace=True)

#Q2 & Q3 combined
Growth = Q2.merge(Q3, how='inner')

*Formula: Growth rate = ((Present value — Past value )/Past value )*100*

In [131]:
#Calculate growth rate
Growth['Growth_Rate'] = (Growth['Q3_Weekly_Sales']-Growth['Q2_Weekly_Sales'])/Growth['Q3_Weekly_Sales']
Growth['Growth_Rate'] = round(Growth['Growth_Rate'],2)

In [99]:
#Min Loss
Growth.sort_values('Growth_Rate',ascending=False).head(1)

    Store  Q2_Weekly_Sales  Q3_Weekly_Sales  Growth_Rate
15     16       6626133.44       6441311.11        -0.03

In [132]:
#Max Loss
Growth.sort_values('Growth_Rate').head(1)

    Store  Q2_Weekly_Sales  Q3_Weekly_Sales  Growth_Rate
13     14      24427769.06       20140430.4        -0.21

### Holiday Events

- Super Bowl: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
- Labour Day: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
- Thanksgiving: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
- Christmas: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13

In [104]:
#holiday vs. nonholiday mean
df_data.groupby('Holiday_Flag')['Weekly_Sales'].mean()

Holiday_Flag
0    1.041256e+06
1    1.122888e+06
Name: Weekly_Sales, dtype: float64

In [111]:
SuperBowl1 = pd.Timestamp(date(2010,2,12))
SuperBowl2 = pd.Timestamp(date(2011,2,11))
SuperBowl3 = pd.Timestamp(date(2012,2,10))
SuperBowl4 = pd.Timestamp(date(2013,2,8))

LabourDay1 = pd.Timestamp(date(2010,9,10))
LabourDay2 = pd.Timestamp(date(2011,9,9))
LabourDay3 = pd.Timestamp(date(2012,9,7))
LabourDay4 = pd.Timestamp(date(2013,9,6))

Thanksgiving1 = pd.Timestamp(date(2010,11,26))
Thanksgiving2 = pd.Timestamp(date(2011,11,25))
Thanksgiving3 = pd.Timestamp(date(2012,11,23))
Thanksgiving4 = pd.Timestamp(date(2013,11,29))

Christmas1 = pd.Timestamp(date(2010,12,31))
Christmas2 = pd.Timestamp(date(2011,12,30))
Christmas3 = pd.Timestamp(date(2012,12,28))
Christmas4 = pd.Timestamp(date(2013,12,27))

In [159]:
SuperBowl_sales=raw_data[(raw_data['Date'] == SuperBowl1)|(raw_data['Date'] == SuperBowl2)|(raw_data['Date'] == SuperBowl3)|(raw_data['Date'] == SuperBowl4)] 
SuperBowl_mean_sales = SuperBowl_sales['Weekly_Sales'].mean()
SuperBowl_sales

Empty DataFrame
Columns: [Store, Date, Weekly_Sales, Holiday_Flag, Temperature, Fuel_Price, CPI, Unemployment]
Index: []

In [152]:
LabourDay_sales=raw_data[(raw_data['Date'] == LabourDay1)|(raw_data['Date'] == LabourDay2)|(raw_data['Date'] == LabourDay3)|(raw_data['Date'] == LabourDay4)] 
LabourDay_mean_sales = LabourDay_sales['Weekly_Sales'].mean()
LabourDay_mean_sales

1039182.8339999999

In [148]:
Thanksgiving_sales=raw_data[(raw_data['Date'] == Thanksgiving1)|(raw_data['Date'] == Thanksgiving2)|(raw_data['Date'] == Thanksgiving3)|(raw_data['Date'] == Thanksgiving4)] 
Thanksgiving_mean_sales = Thanksgiving_sales['Weekly_Sales'].mean()
Thanksgiving_mean_sales

1471273.427777778

In [149]:
Christmas_sales=raw_data[(raw_data['Date'] == Christmas1)|(raw_data['Date'] == Christmas2)|(raw_data['Date'] == Christmas3)|(raw_data['Date'] == Christmas4)] 
Christmas_mean_sales = Christmas_sales['Weekly_Sales'].mean()
Christmas_mean_sales

960833.1115555551

## Statistical Model

*For Store 1 – Build  prediction models to forecast demand*

- Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

- Change dates into days by creating new variable.